<%- include('partials/header')  -%> 

<h1</h1>
<p class="h1 skillP">
    still searching for it <i class=" h1 fas fa-smile-beam"></i>.i will put it later after finding 
</p>

<%- include('partials/footer')  -%> 