<%- include('partials/header')  -%>
<div class="contactC">
<h1>Contacts</h1>
<p>This is my <a target="blank" href="https://www.facebook.com/GameNatixx-358227191494878"><%= contact %> </a>

</p>
</div>
<%- include('partials/footer')  -%>