<%- include('partials/header'); -%>
<div class="myPic">
    <img class="border border-warning" src="https://scontent.fdac22-1.fna.fbcdn.net/v/t1.0-1/s200x200/116154232_931973567215267_2523902531025405237_n.jpg?_nc_cat=103&_nc_sid=7206a8&_nc_eui2=AeEwGiDDKCEzYVoTbfiy7qxuiYGG5PwAqOeJgYbk_ACo5xtDaDR6HnOqOB_TPIB32HQ-uN7ofuRZwK2BhWc3BVNo&_nc_ohc=JVfIE9gg2voAX-9Si7p&_nc_ht=scontent.fdac22-1.fna&_nc_tp=7&oh=8c6f8b63e03e34e764f16f6bfa89b6e6&oe=5F591F88" alt="picture" width="100" height="100" >
</div>
<h1>Hi, Im salith</h1>
<p>
    <%= startingContent %> 
</p>
<!-- <p class="h1">Catch me on <i  class="fas fa-arrow-right"></i> <i id="facebook" class=" h1 fab fa-facebook pr-3 "></i><i id="insta" class="fab fa-instagram"></i></p> -->

<%- include('partials/footer'); -%>